# Netflix (Python Data Cleaning)

This dataset contains 8000+ movies and TV shows on Netflix, with details such as show_id, type, title, director, cast, country, date_added, release_year, rating and duration. It contains missing values, inconsistent text, and mixed data types.

**Load and read data**

In [23]:
# Import library
import pandas as pd

In [24]:
# Read data file
df = pd.read_csv("../input/netflix-shows/netflix_titles.csv")

In [25]:
# Display first few rows
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [26]:
# Display columns
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [27]:
# Display rows and columns of data
df.shape

(8807, 12)

In [28]:
# Print full summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [29]:
# Display basic statistical details
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s3477,Movie,Pedal the World,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

**Handle missing values**

In [30]:
# Before: Check missing values
# df.isnull().sum()

df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [31]:
# Fill missing values
df['director'] = df['director'].fillna("Unknown")
df['cast'] = df['cast'].fillna("Unknown")
df['country'] = df['country'].fillna("Unknown")
df['rating'] = df['rating'].fillna("Not Rated")

# Drop missing values
df = df.dropna(subset=['date_added', 'duration'])

In [32]:
# Verify missing values
print("Missing values after handling:")
print(df.isna().sum())

Missing values after handling:
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

**Convert data types**

In [33]:
# Convert date_added to datetime
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [34]:
# Verify datetime
print(df['date_added'].dtype)

datetime64[ns]

**Standardise text format**

In [35]:
cols = ['type', 'country', 'rating', 'title']

for col in cols:
    # Leading/trailing spaces
    spaces = (df[col] != df[col].str.strip()).sum()
    
    # Inconsistent case (for strings)
    if col in ['type', 'country']:
        case_issue = (df[col] != df[col].str.title()).sum()
    elif col == 'rating':
        case_issue = (df[col] != df[col].str.upper()).sum()
    else:
        case_issue = 0
    
    print(f"{col}: {spaces} rows with spaces, {case_issue} rows with inconsistent text")

type: 0 rows with spaces, 2666 rows with inconsistent text
country: 0 rows with spaces, 0 rows with inconsistent text
rating: 0 rows with spaces, 4 rows with inconsistent text
title: 1 rows with spaces, 0 rows with inconsistent text

In [36]:
# Clean specific columns
# Remove spaces and uppercase text
df['type'] = df['type'].str.strip().str.title()
df['country'] = df['country'].str.strip().str.title()
df['rating'] = df['rating'].str.strip().str.upper()
df['title'] = df['title'].str.strip()

# Display first few rows
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,Tv Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,Tv Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,Tv Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,Tv Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

**Remove duplicates**

In [37]:
print("Before:", df.shape)

df = df.drop_duplicates()
print("After:", df.shape)

print("Duplicate rows removed.")

Before: (8794, 12)
After: (8794, 12)
Duplicate rows removed.

**Check numeric outliers**

In [38]:
# Check years
df['release_year'].describe()

count    8794.000000
mean     2014.183534
std         8.823527
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: release_year, dtype: float64

In [39]:
# Filter years
df = df[df['release_year'] <= 2021]

In [40]:
# Check after filtering
print("Min year:", df['release_year'].min())
print("Max year:", df['release_year'].max())

Min year: 1925
Max year: 2021

**Split duration**

In [41]:
# Extract number and text separately (min or Seasons)
df['duration_value'] = df['duration'].str.extract('(\d+)').astype(int)
df['duration_unit'] = df['duration'].str.extract('([A-Za-z]+)')[0].str.title()

# Display first few rows
df[['duration', 'duration_value', 'duration_unit']].head()

    duration  duration_value duration_unit
0     90 min              90           Min
1  2 Seasons               2       Seasons
2   1 Season               1        Season
3   1 Season               1        Season
4  2 Seasons               2       Seasons

**Split genres**

In [42]:
# Split comma
df['listed_in'] = df['listed_in'].str.split(', ')
df[['title', 'listed_in']].head()

                   title                                          listed_in
0   Dick Johnson Is Dead                                    [Documentaries]
1          Blood & Water  [International TV Shows, TV Dramas, TV Mysteries]
2              Ganglands  [Crime TV Shows, International TV Shows, TV Ac...
3  Jailbirds New Orleans                           [Docuseries, Reality TV]
4           Kota Factory  [International TV Shows, Romantic TV Shows, TV...

In [43]:
# Create one row per list element
df_genre = df.explode('listed_in')

# Display first few roles
df_genre.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_value,duration_unit
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90,Min
1,s2,Tv Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,International TV Shows,"After crossing paths at a party, a Cape Town t...",2,Seasons
1,s2,Tv Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,TV Dramas,"After crossing paths at a party, a Cape Town t...",2,Seasons
1,s2,Tv Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,TV Mysteries,"After crossing paths at a party, a Cape Town t...",2,Seasons
2,s3,Tv Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,Crime TV Shows,To protect his family from a powerful drug lor...,1,Season

**Extract year and month**

In [44]:
# Extract 
df['year_added'] = df['date_added'].dt.year
df['month_added'] = df['date_added'].dt.month

# Display first few rows
df[['date_added', 'year_added', 'month_added']].head()

  date_added  year_added  month_added
0 2021-09-25        2021            9
1 2021-09-24        2021            9
2 2021-09-24        2021            9
3 2021-09-24        2021            9
4 2021-09-24        2021            9

**Reference**

- Kaggle dataset: [Netflix Movies and TV Shows](https://www.kaggle.com/datasets/shivamb/netflix-shows)